body 
{background-color: rgb(168, 214, 214);
text-align: center;
align-content: center;
display: flex;
margin: 200px;
justify-content: center;

}
#log{
border: #048085, solid;
border-width: 3px;
border-radius: 10px;
padding: 100;
background-color: rgb(219, 219, 219);
    
box-shadow:1px 2px 20px rgb(0, 0, 0); ;
}
#image{
background-image: url("tv-tenna-dance.gif");

}