body 
{background-color: rgb(168, 214, 214);
text-align: center;
align-content: center;
display: flex;
margin: 200px;
justify-content: center;

}
#log{
border: #048085, solid;
border-width: 3px;
border-radius: 10px;
padding: 100;
background-color: rgb(219, 219, 219);
    text-shadow: 2px 4px 5px black;
box-shadow:1px 2px 3px rgb(0, 0, 0); ;
}