body{
    background-color: rgb(63, 89, 138);
    text-align: center;
align-content: center;

justify-content: center;
color: white;
}
#TITLE{
text-shadow: 1px 2px 20px rgb(0, 0, 0);
font-size: 100px;
}
button{
    background-color: #52b96c;
  border-radius: 8px;
  padding: 11px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  padding-right: 30px;
  color: white;
 
}
footer{
    justify-content: center;
    background-color: rgb(51, 51, 51, 0.8);
    color:white;
    padding: 20px;
    }